Django==2.2.4
mypy
python-ldap
Celery
django-celery-results
django-celery-beat
flower
redis
hiredis
django-redis-cache
pytest-django
pytest-xdist
pytest-cov
psycopg2-binary
pytest-pgsql
channels
channels_redis
nameparser
